@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500&family=Karla:wght@400;700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  place-items: center;
}

.container {
  width: 550px;
  height: 600px;
  border: 1px solid #E5E5E5;
}

/* HEADER */
header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.meme-logo {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.meme-icon {
  width: 31.31px;
  height: 26.22px;
}

.logo-text {
  color: #FFFFFF;
  font-family: 'karla', sans-serif;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
}

.course {
  color: #FFFFFF;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 20px;
}

/* MEME SECTION */
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.input-div {
  width: 475px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

input {
  color: #0D0D0D;
  font-family: 'karla', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  outline: none;
  padding: 10px;  
}

.meme-btn {
  color: #FFFFFF;
  font-family: 'karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  cursor: pointer;
  outline: none;

  width: 475px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
}

.meme-div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-image {
  max-width: 100%;
}

.meme-text {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 39px;
  -webkit-text-stroke: 1px black;
  padding: 5px;
}

.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}